html {
    background-color: bisque;
    color: rgb(165, 99, 17);
    letter-spacing: 3px;
}
body {
    margin: 0;
}


.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 50px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.grid-container div {
    padding: 10px;
    border: 1px solid black;
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-weight: bold;
}

#nav {
    grid-column-start: 1;
    grid-column-end: span 2;
    background-color: black;
}
#footer {
    grid-column: 1 / span 2;
    text-align: center;
}


#img {
    border-radius: 100%;
    filter: opacity(80%);
}

#imgdiv{
    border: none;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    margin-right: 3px;
    padding: 10px;
    background-color: pink;
    position: fixed;
}

a {
    position: relative;
    text-decoration: none;
    display: inline;
}
li {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideshow-container {
    border: none;
}

.slideshow-container div {
    border: none;
}

.grid-item div {
    border: none;
}













* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: inherit;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: inherit;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}